.nogutter {
    padding-left: 0;
    padding-right: 0;
}

#header2 {
    opacity: .9
}

.nav-pills {
    font-size: 13px;
}
.nav-pills>li {list-style: none;
    padding-right: 25px;     margin-top: 3px; margin-bottom: 0px;   }

.navbar-right > li > a {
    color: black; text-decoration: none;
}

.n1:hover a {color:darkcyan;}
.n2:hover a {color:darkcyan;}
.n3:hover a {color:darkcyan;}
.n4:hover a {color:darkcyan;}


.navbar {
    border-radius: 0;

}

.navbar-default {
background-image: none;
    margin-bottom: 0;
    border-color: none;
    background-color: none;
   
    border: none;
}


#banner .img-responsive {
    width: 100%;
    height: 500px;
}


.nav-tabs > li > a {
    padding: 15px 15px;
    color: grey;
    border-right: 1px solid #ddd;

}

.carousel-caption {
    color: grey;
    margin-bottom: 200px;
   
    font-family:monospace;
    text-shadow: none;
    text-align: justify;

}

.carousel-caption .btn-default {
    border: 1px solid grey;
    color: grey;
    border-radius: none;
    background: transparent;
    margin-top:35px;
}

#banner2 {
    margin-top: 100px;
}

.style1 > img {
    position: relative;
}

.style1 > h3 {
    position: absolute;
    margin-top: -170px;
    margin-left: 90px;
    color: white;
    font-size: 30px;
}

.style1 > h1 {
    position: absolute;
    margin-top: -125px;
    margin-left: 100px;
    color: white;
    font-size: 70px;
}

.style2 > img {
    position: relative;
}

.style2 > h3 {
    position: absolute;
    margin-top: -170px;
    margin-left: 90px;
    color: white;
    font-size: 30px;
}

.style2 > h1 {
    position: absolute;
    margin-top: -125px;
    margin-left: 125px;
    color: white;
    font-size: 70px;
}

.style3 > img {
    position: relative;
}

.style3 > h3 {
    position: absolute;
    margin-top: -170px;
    margin-left: 95px;
    color: white;
    font-size: 30px;
}

.style3 > h1 {
    position: absolute;
    margin-top: -125px;
    margin-left: 105px;
    color: white;
    font-size: 70px;
}

.style1 .img-responsive {
    width: 97%;
    height: 350px;
 
    
}

.style2 .img-responsive {
    width: 97%;
    height: 350px;
  
   
}

.style3 .img-responsive {
    width: 97%;
    height: 350px;
     
    
}

.grow:hover {
    transform: scale(1.2);
    transition: .9s ease-in-out;
}

hr {
    width: 30%;
    color: grey;
}

p.btn-default {
    margin-top: -655px;
    margin-left: 301px;
    border: none;
    border-radius: 0px;
    border-color: none;
    background: #F1ABA7;
    color: black;
    text-shadow: none;
}

.mid {
    transition: .3s linear;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}
.text {
    background-color:cadetblue;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
   
}

.text >a{text-decoration: none; color:white; font-weight: bold;}

.left_1 {
    position: relative;
}

.left_1:hover .img-responsive {
    opacity: 0.3;
}

.left_1:hover .mid {
    opacity: 1;
}

.left_2 {
    position: relative;
}

.left_2:hover .img-responsive {
    opacity: 0.3;
}

.left_2:hover .mid {
    opacity: 1;
}

.left_3 {
    position: relative;
}

.left_3:hover .img-responsive {
    opacity: 0.3;
}

.left_3:hover .mid {
    opacity: 1;
}

.mid1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle_1 {
    position: relative;
}

.middle_1:hover .img-responsive {
    opacity: 0.3;
}

.middle_1:hover .mid1 {
    opacity: 1;
}

.middle_2 {
    position: relative;
}

.middle_2:hover .img-responsive {
    opacity: 0.3;
}

.middle_2:hover .mid {
    opacity: 1;
}

.right_1 {
    position: relative;
}

.right_1:hover .img-responsive {
    opacity: 0.3;
}

.right_1:hover .mid {
    opacity: 1;
}

.right_2 {
    position: relative;
}

.right_2:hover .img-responsive {
    opacity: 0.3;
}

.right_2:hover .mid {
    opacity: 1;
}

.right_3 {
    position: relative;
}

.right_3:hover .img-responsive {
    opacity: 0.3;
}

.right_3:hover .mid {
    opacity: 1;
}

.text {
    background-color: lightblue;
    color: black;
    font-size: 15px;
    padding: 9px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#popular {
    margin-top: 80px;
}

.middle_1 .img-responsive {
    height: 638px;
    width: 360px;
}

#recommended {
    margin-top: 80px;
}

.mid2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pro_1 {
    position: relative;
}

.pro_1:hover .img-responsive {
    opacity: 0.3;
}

.pro_1:hover .mid2 {
    opacity: 1;
}


p.b1 {
    margin-top: -1030px;
    margin-left: 202px;
    border: none;
    border-radius: 0px;
    border-color: none;
    background: #F1ABA7;
    color: black;
    text-shadow: none;
}

.help {
    margin-top: 40px;
    background-color: lightgray;
    min-height: 300px;
}

.help h2 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.help p {

    padding-bottom: 20px;
}

.help .btn-default {

    line-height: none;
    background: black;
    border-radius: 0px;
    border: 1px solid black;

    width: 115px;
    color: white;
    margin-top: 25px;

}

.help .input-group .btn-default1 {
    font-size: 18px;
    line-height: none;
    background: black;
    border-radius: 0px;
    border: 1px solid black;
    height: 34px;
    min-width: 54px;
    color: blue;

    margin-top: 8px;
}

.help .input-group .btn-default1 {
    color: white;
}

.help .input-group .form-control {
    background-color: white;
    height: 34px;
    min-width: 200px;
    border: 1px solid black;
    margin-top: 8px;
    color: black;
}
.input-group-btn {padding-right: 100px;}

.contact_back {
    min-height: 250px;
    margin-top: 30px;
}

.contact_li li {
    list-style: none;
    margin-bottom: 10px;
}

.contact_li li a {
    color: black;

}

.contact_li .fa {
    padding-right: 10px;

    margin-top: 20px;
    margin-left: 10px;
}

.contact_li .us {
    margin-left: 10px;
}

.contact_li img {
    min-height: 30px;
    min-width: 100px;
}

.contact_back h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}


.footer_back {
    background-color: whitesmoke;
    min-height: 70px;
    border-top: 0.5px solid black;
    padding-top: 10px;
}

.footer_corner {
    font-size: 16px;
    font-weight: bold;
margin-top: 12px;
}

.footer_p {
    font-size: 10px;
    padding-top: 10px;
}

