/*Login page banner*/

#banner{
    background-image: url(../imgs/slide.jpg);
    background-size:cover;
    position:relative;
    margin-top: 1px
}

#banner:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width:10%;
}
.page_title{
    display:inline-block;
    float:center;
    color: white;
}
.banner_area {
    display: table;
    width: 100%
}
.page_location{
    float:right;
    text-transform:capitalize;
    line-height: 140px
}
.page_location > i{
    padding:5px 5px
}
section > i{
    color: white;
}